<section id='first'>
	<p>Welcome to MeetApp, an App where you can propose 
	challenges to other people. Everything is a mistery!!!</p>
	<section id='second'>
		<h1>Sign up</h1>
		<%= render template: 'users/_form' %>
	</section>
	<section id='third'>
		<h1>Sign in</h1>
		<%= render template: 'sessions/new' %>
	</section>
</section>